In [38]:
import numpy as np
import pandas as pd

#### Dividing up by functional groups

We noticed that in position 2 of the library, there were two families of building blocks that were perfectly separated by cluster. One group had two carboxylic acids and the other had a carboxylic acid and an amine group. Moreover, the distribution of P(active) values was quite distinct within these two different clusters.

In [39]:
hdb_bb2_3D_data = pd.read_csv('files/hdb_bb2_3D_data.csv')
total_merged = pd.read_csv('total_merged.csv')
#total_compounds = pd.read_csv('../data_preparation/output/total_compounds.csv')

In [63]:
total_merged.groupby(['bb1_Cluster', 'bb2_Cluster'], as_index=False).count()

,bb1_Cluster,bb2_Cluster,structure,read_count,bb1,bb2,bb3,P(active)_1,P(active)_2,P(active)_3,bb3_Cluster
0,1,3,21145,21145,21145,21145,21145,21145,21145,21145,21145
1,2,1,891,891,891,891,891,891,891,891,891
2,2,2,18442,18442,18442,18442,18442,18442,18442,18442,18442
3,2,3,1469,1469,1469,1469,1469,1469,1469,1469,1469
4,3,3,195150,195150,195150,195150,195150,195150,195150,195150,195150
5,4,1,550,550,550,550,550,550,550,550,550
6,4,2,12034,12034,12034,12034,12034,12034,12034,12034,12034
7,4,3,4838,4838,4838,4838,4838,4838,4838,4838,4838
8,5,1,587,587,587,587,587,587,587,587,587
9,5,2,12355,12355,12355,12355,12355,12355,12355,12355,12355
10,5,3,6247,6247,6247,6247,6247,6247,6247,6247,6247
11,6,1,3006,3006,3006,3006,3006,3006,3006,3006,3006
12,6,2,64193,64193,64193,64193,64193,64193,64193,64193,64193
13,6,3,38628,38628,38628,38628,38628,38628,38628,38628,38628
14,7,1,1022,1022,1022,1022,1022,1022,1022,1022,1022
15,7,2,21648,21648,21648,21648,21648,21648,21648,21648,21648
16,7,3,9425,9425,9425,9425,9425,9425,9425,9425,9425
17,8,1,2289,2289,2289,2289,2289,2289,2289,2289,2289
18,8,2,48883,48883,48883,48883,48883,48883,48883,48883,48883
19,8,3,20496,20496,20496,20496,20496,20496,20496,20496,20496
20,9,1,1413,1413,1413,1413,1413,1413,1413,1413,1413
21,9,2,30518,30518,30518,30518,30518,30518,30518,30518,30518
22,9,3,11709,11709,11709,11709,11709,11709,11709,11709,11709